h3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.message {
    border: 1px solid #c0c0c0;
    margin-bottom: 20px;
    padding: 10px;
}

#message-saved {
    margin-top: 10px;
}

#search {
    margin-bottom: 30px;
}

.delete {
    display: inline-block;
    width: 100%;
    text-align: right;
}